<div class="card mt-3">
  <div class="card-header"><strong>ĐẶT CÂU HỎI</strong></div>
  <div class="card-body">
    <form action="#" method="get" name="frmBonus">
      <label for="exampleFormControlInput1" class="form-label">Họ tên</label>
      <input
        type="text"
        class="form-control"
        name="txtFullname"
        required
        ng-model="fullName"
        id="exampleFormControlInput1"
        placeholder="Nguyễn Văn B"
      />
      <div>
        <span ng-show="frmBonus.txtFullname.$invalid" style="color: red"
          >Vui long nhap ho ten</span
        >
      </div>

      <label for="exampleFormControlInput1" class="form-label"
        >Địa chỉ Email</label
      >
      <input
        type="email"
        required
        class="form-control"
        name="txtEmail"
        ng-model="email"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
      <div>
        <span ng-show="frmBonus.txtEmail.$invalid" style="color: red"
          >Email khong dung dinh dang</span
        >
      </div>
      <label for="exampleFormControlTextarea1" class="form-label">
        Nội dung</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
      <button class="btn btn-primary mt-3">Gửi</button>
    </form>
  </div>
</div>
